@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

:root {
  --color-dark: #252525;
  --color-light: #fafafa;
  --color-primary: #1a8fe3;
  --size-step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --size-step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --size-step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
  --size-step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
  --size-step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  padding: 2em;
  font-family: 'Lora', serif;
  font-size: var(--size-step-0);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.7;
}

a {
  color: currentColor;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 0.3ex;
  text-underline-offset: 0.3ex;
}

h1,
h2,
h3 {
  font-weight: 800;
  line-height: 1.1;
}

h1 {
  font-size: var(--size-step-4);
  max-width: 20ch;
}

h2 {
  font-size: var(--size-step-3);
  max-width: 28ch;
}

h3 {
  font-size: var(--size-step-2);
  max-width: 28ch;
}


ul,
ol {
  padding-inline-start: 1em;
}

blockquote {
  padding-inline-start: 1em;
  border-inline-start: 0.3em solid;
  font-style: italic;
  font-size: var(--size-step-1);
  max-width: 50ch;
}

html:focus-within {
  scroll-behavior: smooth;
}

article {
  margin-inline: auto;
  max-width: 70ch;
}

article>*+* {
  margin-block-start: var(--flow-space, 1em);
  max-width: 70ch;
}

:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}

:is(h1, h2, h3)+* {
  --flow-space: 0.5em;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem 0.75rem;
  border: 1px solid #e4e4e4;
}

tbody tr:nth-child(even) {
  background: #e4e4e4;
}