body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.material-symbols-outlined {
    position: relative;
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size: 1rem;
    top: 1px;
}

a {
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    text-decoration: none;
    color: black;
    transition: 0.3s background-color;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

a:hover {
    background-color: rgb(222, 222, 222);
}


pre,
textarea,
code {
    font-family: 'IBM Plex Mono', monospace;
}

code {
    background: #f2f1f1;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

button,
select {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.501);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background: rgb(231, 231, 231);
    transition: 0.2s background;
}

button {
    cursor: pointer;
}

button:hover,
select:hover {
    background: rgb(222, 222, 222);
}

.menu {
    background: #f3f4f6;
    border-bottom: solid 1px rgba(0, 0, 0, 0.171);
    position: relative;
    margin: 0;
    height: 4rem;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
}

.menu-items {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu h1 {
    margin: 0;
    font-size: 1.3rem;
}

#wrapper {
    width: 100%;
    display: flex;
    height: calc(100vh - 4rem);
}

#editor-view {
    width: 100%;
    display: flex;
    overflow-x: hidden;
    transition: 0.3s width;
}

#preview,
#editor {
    position: relative;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    margin: 0;
    padding: 1rem;
    border: none;
    transition: 0.3s width;
}

#preview {
    background: rgb(242, 242, 242);
    position: relative;
    display: flex;
    flex-direction: column;
}

#debug {
    width: 100%;
    background: red;
    height: 500px;
}


#debug-editor {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#render-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#error-prompt {
    display: none;
    padding: 1rem;
    background: #fceced;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.501);
    border-radius: 0.3rem;
}

#error-log pre {
    overflow: scroll;
    opacity: 0.4;
}

#problem-box {
    display: none;
    margin-top: auto;
    font-size: 12px;
}

.problem-inner-box {
    width: 50%;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    display: inline-block;
    border-radius: 0.3rem;
}

#warnings {
    background: #e6e600;
}

#errors {
    background: #dc0000;
}

#warnings-text {
    margin: 1rem;
}

#errors-text {
    margin: 1rem;
}

#error-prompt strong {
    color: #de455a;
}

#error-prompt .material-symbols-outlined {
    color: #de455a;
}

#package-view {
    width: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    transition: 0.3s width;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
}

#packages {
    max-width: 60rem;
    box-sizing: border-box;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}


#package-content .container {
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.308);
    box-sizing: border-box;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

#package-content .expanded .details {
    max-height: 600px;
}

#package-content .details {
    overflow: hidden;
    transition: max-height 300ms;
    max-height: 0;
}

#package-content .container h4 {
    font-size: 1.2rem;
}

#package-content .container>.version {
    opacity: 0.6;
}

#package-content .container>.name {
    font-size: 1.6rem;
    display: inline;
}

#package-content .container .arguments li div {
    display: flex;
    gap: 1rem;
}

#package-content .container .arguments li div .default {
    opacity: 0.6;
}



@media only screen and (max-width: 800px) {
    #editor-view {
        height: auto;
        flex-direction: column;
    }

    #editor,
    #preview {
        height: auto;
        height: calc((100vh - 4rem) / 2);
        width: 100%;
    }

    .menu-items {
        justify-content: space-between;
        gap: 1rem;
    }

}
