body {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}

pre,
textarea {
    font-family: 'IBM Plex Mono', monospace;
}

.menu {
    position: relative;
    margin: 0;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    gap: 2rem;
}

.menu h1 {
    margin: 0;
    font-size: 1.5rem;
}

#wrapper {
    width: 100%;
    display: flex;
    height: calc(100vh - 4rem);
}

#output,
#editor {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    margin: 0;
    padding: 1rem;
}

#output {
    background: rgb(228, 228, 228);
}